@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center; 
}

body {
  margin: 1rem auto;
  max-width: 1200px;
  color: $black;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}